
#cards-container {
    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px;
}

.produto-card {
    background: #111;
    border: 1px solid #222;
    border-radius: 20px;
    padding: 20px;
    transition: 0.3s;
}

.produto-card:hover {
    transform: translateY(-5px);
}

.produto-img {
    width: 100%;
    border-radius: 14px;
}

.produto-card h3 {
    color: #ff7a00;
}

.preco {
    display: block;
    color: #ff7a00;
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0;
}